@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

ul:not(.browser-default) {
  padding: 0 20px;
}

/*HEADER E BANNER*/
.container-banner {
  width: 100%;
  background-image: url(../images/slider-bg.webp);
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100vh;
}

nav.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background: none;
  padding: 10px;
}

nav.nav-wrapper a {
  font-size: 16px;
  font-family: Roboto Mono;
  padding: 0 20px;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
  box-shadow: none;
}

/*TITULO BANNER*/

.content-banner {
  max-width: 1080px;
  margin: 0 auto 0 auto;
  padding: 100px 20px;
}

.content-banner-titulo {
  text-align: right;
}

.content-banner-titulo h2 {
  text-align: right;
  font-family: Anton;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
}

.content-banner-titulo p {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 30px 0;
}

.button-menu {
  font-family: Anton;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 15px 36px 15px 36px;
  border-width: 0px;
  border-radius: 2px;
  background-color: #272327;
  color: #fff;
}

.content-banner-titulo button {
  padding: 10px 15px;
  color: #fff;
  background-color: #ff6326;
  font-family: Anton;
  font-size: 20px;
  width: 160px;
  border: none;
}

/*TITULO BANNER*/
/*DEPOIMENTOS BANNER*/
.header-depoimentos {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
}

/*DEPOIMENTOS BANNER*/

/*RESPONSIVE MOBILE*/
@media (min-width: 320px) and (max-width: 991px) {

  nav i,
  nav [class^="mdi-"],
  nav [class*="mdi-"],
  nav i.material-icons {
    color: #ff6326;
    font-size: 30px;
  }

  nav.nav-wrapper a {
    padding: 0;
  }

  .content-3-banner button {
    display: none;
  }

  .content-banner {
    padding: 20px 0;
  }

  .btn-menu {
    display: none;
  }

  .header-depoimentos {
    display: none;
  }

  .content-2-banner .navegacao .menu {
    display: none;
  }

  .container-banner {
    width: 100%;
    height: 480px;
    background-size: cover;
  }

  .content-banner-titulo {
    text-align: center;
  }

  .content-banner-titulo h2 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .content-banner-titulo button {
    padding: 5px 15px;
    color: #fff;
    background-color: #ff6326;
    font-family: Anton;
    font-size: 16px;
    width: 100px;
    border: none;
  }

}


@media (min-width: 992px) and (max-width: 1200px) {

  .container-banner {
    background-position: left center;
  }

  .content-banner {
    padding: 100px 20px;
  }

  .content-depoimentos img{
    height: 200px;
  }

  .content-banner-titulo h2 {
    font-size: 60px;
}

}


/*HEADER E BANNER*/

/*TRILHA SECTION-1*/
.content-section-1 {
  max-width: 1400px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.section-1 {
  background-color: #12111b;
  padding: 100px 0;
}

.section-1 .section-1-titulo {
  font-family: Anton;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0px;
}

.trilha {
  color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.section-1 p {
  color: #f7f7f7;
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;

}

.section-1 h5 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #f7f7f7;
  text-align: center;
  font-family: Roboto Mono;
  padding: 20px 0;
}

.section-1 h2 {
  color: #f7f7f7;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
}

.section-1-descrição {
  display: flex;
  justify-content: center;
  text-align: justify;
  color: #6b6b6b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .section-1 {
    padding: 40px 20px;
  }

  .section-1 .section-1-titulo {
    font-size: 36px;
    letter-spacing: 0px;
  }

  .section-1-descrição {
    font-size: 18px;
    letter-spacing: 0px;
  }

  .section-1 p {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section-1 p {
    font-size: 16px;
  }

  .section-1-descrição br {
    display: none;
  }

  .section-1-descrição {
    text-align: center;
  }
}

/*TRILHA SECTION-1*/
/*SECTION-2*/

.section-2 {
  display: flex;
  height: 650px;
}

.content-1-section-2 {
  width: 50%;
  background-color: #12111b;
  padding: 120px 8%;
}

.content-1-section-2 .section-2-titulo {
  font-family: Anton;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0px;
  color: white;
}

.content-1-section-2 p {
  color: #b1b1b1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 30px 0;
}

.button-section-2 {
  padding: 10px 15px;
  color: #fff;
  background-color: #ff6326;
  font-family: Anton;
  font-size: 20px;
  width: 160px;
  border: none;
}

.content-2-section-2 {
  width: 50%;
}

.content-2-section-2 img {
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 991px) {
  .section-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content-1-section-2 .section-2-titulo {
    font-size: 28px;
  }

  .content-1-section-2 {
    width: 100%;
  }

  .content-2-section-2 {
    width: 100%;
  }

  .content-2-section-2 img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .section-2 {
    height: 400px;
  }

  .content-1-section-2 {
    padding: 20px;
  }

  .content-1-section-2 .section-2-titulo {
    font-size: 60px;
  }

  .content-1-section-2 p {
    padding: 10px 0;
  }
}

/*SECTION-2*/

/*SECTION-3*/

.section-3 {
  display: flex;
  flex-flow: row wrap;
  height: 650px;
}

.content-1-section-3 {
  width: 50%;
  background-color: #fcfcfc;
  padding: 120px 8%;
}

.content-1-section-3 .section-3-titulo {
  font-family: Anton;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
}

.content-1-section-3 p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 30px 0;
}

.button-section-3 {
  padding: 10px 15px;
  color: #fff;
  background-color: #ff6326;
  font-family: Anton;
  font-size: 20px;
  width: 160px;
  border: none;
}

.content-2-section-3 {
  width: 50%;
}

.content-2-section-3 img {
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 991px) {
  .section-3 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content-1-section-3 .section-3-titulo {
    font-size: 40px;
    letter-spacing: 0px;
  }

  .content-1-section-3 {
    width: 100%;
    margin: 0;
  }

  .content-2-section-3 {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .content-2-section-3 img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .section-3 {
    height: 400px;
  }

  .content-1-section-3 {
    padding: 20px;
  }

  .content-1-section-3 .section-3-titulo {
    font-size: 60px;
  }

  .content-1-section-3 p {
    padding: 10px 0;
  }
}

/*SECTION-3*/

/*SECTION-4*/

.section-4 {
  display: flex;
  flex-flow: row wrap;
  height: 650px;
}

.content-1-section-4 {
  width: 50%;
  background-color: #12111b;
  padding: 120px 8%;
}

.content-1-section-4 .section-4-titulo {
  font-family: Anton;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0px;
  color: white;
}

.content-1-section-4 p {
  color: #b1b1b1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 30px 0;
}

.button-section-4 {
  padding: 10px 15px;
  color: #fff;
  background-color: #ff6326;
  font-family: Anton;
  font-size: 20px;
  width: 160px;
  border: none;
}

.content-2-section-4 {
  width: 50%;
}

.content-2-section-4 img {
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 991px) {
  .section-4 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content-1-section-4 .section-4-titulo {
    font-size: 40px;
    letter-spacing: 0px;
  }

  .content-1-section-4 {
    width: 100%;
    margin: 0;
  }

  .content-2-section-4 {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .content-2-section-4 img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .section-4 {
    height: 400px;
  }

  .content-1-section-4 {
    padding: 20px;
  }

  .content-1-section-4 .section-4-titulo {
    font-size: 60px;
  }

  .content-1-section-4 p {
    padding: 10px 0;
  }
}

/*SECTION-4*/
/*SECTION-5*/

.section-5 {
  display: flex;
  flex-flow: row wrap;
  height: 650px;
}

.content-1-section-5 {
  width: 50%;
  background-color: #fcfcfc;
  padding: 120px 8%;
}

.content-1-section-5 .section-5-titulo {
  font-family: Anton;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
}

.content-1-section-5 p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 30px 0;
}

.button-section-5 {
  padding: 10px 15px;
  color: #fff;
  background-color: #ff6326;
  font-family: Anton;
  font-size: 20px;
  width: 160px;
  border: none;
}

.content-2-section-5 {
  width: 50%;
}

.content-2-section-5 img {
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 991px) {
  .section-5 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content-1-section-5 .section-5-titulo {
    font-size: 40px;
    letter-spacing: 0px;
  }

  .content-1-section-5 {
    width: 100%;
    margin: 0;
  }

  .content-2-section-5 {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .content-2-section-5 img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .section-5 {
    height: 400px;
  }

  .content-1-section-5 {
    padding: 20px;
  }

  .content-1-section-5 .section-5-titulo {
    font-size: 60px;
  }

  .content-1-section-5 p {
    padding: 10px 0;
  }
}

/*SECTION-5*/

/*SECTION-6*/

.section-6 {
  width: 100%;
  padding-top: 125px;
  padding-bottom: 25px;
  background-color: #f2f3f5;
}

.container-section-6 {
  display: flex;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.content-1-section-6 {
  width: 50%;
}

.content-1-section-6 .section-6-titulo {
  font-family: Anton;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
}

.content-1-section-6 p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 30px 0;
}

.button-section-6 {
  padding: 10px 15px;
  color: #fff;
  background-color: #ff6326;
  font-family: Anton;
  font-size: 20px;
  width: 160px;
  border: none;
}

.content-2-section-6 {
  width: 50%;
}

.content-2-section-6 img {
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 991px) {

  .container-section-6 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .content-1-section-6 {
    width: 100%;
  }

  .content-2-section-4 {
    display: none;
  }

  .section-6 {
    width: 100%;
    padding: 40px 20px;
    margin: 0;
  }

  .content-1-section-6 .section-6-titulo {
    font-size: 40px;
    letter-spacing: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .section-6 {
    width: 100%;
    padding: 50px 20px;
    background-color: #f2f3f5;
  }

  .container-section-6 {
    width: 100%;
  }

  .content-1-section-6 .section-6-titulo {
    font-size: 60px;
  }

  .content-1-section-6 a {
    margin: 20px 0;
  }
}

/*SECTION-6*/
/*SECTION 7*/

.section-7 {
  width: 100%;
  padding-top: 125px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

.container-section-7 h2 {
  text-align: center;
  padding-bottom: 125px;
  font-family: Anton;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
}

.content-section-7 {
  display: flex;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.content-section-7 h5 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.content-section-7 p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.content-1-section-7 {
  width: 25%;
  padding: 0 15px;
}

.content-2-section-7 {
  width: 50%;
  padding: 0 15px;
}

.content-3-section-7 {
  width: 25%;
  padding: 0 15px;
  text-align: end;
}

.content-2-section-7 img {
  width: 100%;
  height: 100%;
}

hr {
  margin: 0 auto 40px auto;
  border: none;
}

@media (min-width: 320px) and (max-width: 991px) {
  .section-7 {
    width: 100%;
    padding: 40px 20px;
    background-color: #ffffff;
    margin: 0;
    text-align: start;
  }

  .container-section-7 h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: start;
  }

  .content-section-7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .content-2-section-7 {
    display: none;
  }

  .content-1-section-7 {
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;
    text-align: start;
  }

  .content-3-section-7 {
    width: 100%;
    margin: 0;
    padding: 40px 0;
    text-align: start;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section-7 {
    width: 100%;
    padding: 50px 20px;
  }

  .content-section-7 {
    width: 100%;
  }

  .container-section-7 h2 {
    padding-bottom: 50px;
    font-size: 60px;
  }
}


/*SECTION 7*/

/*SECTION 8*/

.section-8 {
  width: 100%;
  padding-top: 125px;
  padding-bottom: 100px;
  background-color: #12111b;
  background-image: url(../images/sectionbg2.webp);
  background-repeat: no-repeat;
  background-position: center bottom;

}

.container-section-8 h2 {
  text-align: center;
  padding-bottom: 40px;
  font-family: Anton;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
}

.container-section-8 h5 {
  text-align: center;
  font-family: Roboto Mono;
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 5px;
}

.content-section-8 {
  display: flex;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.content-section-8 h4 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: Anton;
  color: #ffffff;
  text-align: center;
}

.content-section-8 p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
}

.content-1-section-8 {
  width: 33%;
  padding: 0 15px;
  background-color: #1a181c;
  padding: 50px 5%;
  border-radius: 25px;
  margin: 0.5rem;
}

.content-2-section-8 {
  width: 33%;
  padding: 0 15px;
  background-color: #ff6326;
  padding: 50px 5%;
  border-radius: 25px;
  margin: 0.5rem;
}

.content-3-section-8 {
  width: 33%;
  padding: 0 15px;
  background-color: #4f1987;
  padding: 50px 5%;
  border-radius: 25px;
  margin: 0.5rem;
}

hr {
  margin: 0 auto 40px auto;
  border: none;
}

@media (min-width: 320px) and (max-width: 991px) {

  .content-section-8 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }


  .section-8 {
    width: 100%;
    padding: 40px 0;
    margin: 0;
  }

  .container-section-8 h2 {
    font-size: 40px;
    text-align: center;
  }

  .content-section-8 h4 {
    text-align: center;
    font-size: 20px;
  }

  .container-section-8 h5 {
    font-size: 18px;
    text-align: center;
  }

  .content-section-8 p {
    font-size: 14px;
    text-align: center;
  }

  .content-1-section-8 {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
  }

  .content-2-section-8 {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
  }

  .content-3-section-8 {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {

  .content-section-8 {
    width: 100%;
  }

  .section-8 {
    width: 100%;
    padding: 50px 20px;
  }
}

/*SECTION 8*/
/*SECTION 9*/
.section-9 {
  width: 100%;
  padding: 100px 0;
  background-color: #f2f3f5;
  background-image: url(../images/sectionbg1.webp);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.content-section-9 {
  display: flex;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
}

.container-section-9 {
  text-align: center;
}

.content-1-section-9 {
  width: 50%;
  padding: 0 15px;
  text-align: start;
}

.content-2-section-9 {
  width: 50%;
  padding: 0 15px;
  text-align: end;
}

.big {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.big a {
  color: #ff6326;
  text-decoration: none;
}

.section-9 h4 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: Anton;
  color: #000000;
  text-align: center;
}

/*FORMULARIO*/
.section-formulario {
  width: 100%;
  padding: 100px 0;

}

.content-form {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.formulario .form-topo {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.formulario input {
  height: 50px;
  background: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d5d5d5;
  font-size: 13px;
  color: #d5d5d5;
  font-family: Arial, Helvetica, sans-serif;
}

textarea:focus,
input:focus {
  border-color: #ff6326;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.text-description {
  height: 300px;
  background: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d5d5d5;
  font-size: 13px;
  color: #d5d5d5;
  font-family: Arial, Helvetica, sans-serif;
}

.button-form {
  font-family: Anton;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 15px 36px 15px 36px;
  border-width: 0px;
  border-radius: 2px;
  color: #fff;
  background-color: #ff6326;
  border-color: transparent;
  margin-top: 10px;
}

/*FORMULARIO*/

/*FOOTER*/
.footer .copyright {
  text-align: center;
  color: #a1a1a1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer .copyright a {
  color: #ff6326;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 991px) {

  .section-9 {
    padding: 40px 0;
  }

  .content-section-9 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .content-1-section-9 {
    width: 100%;
    padding: 0;
    text-align: start;
  }

  .content-2-section-9 {
    width: 100%;
    padding: 0;
    text-align: start;
  }

  .content-2-section-9 a {
    padding: 0;
  }

  .big {
    font-size: 18px;
    text-align: center;
  }

  .content-form {
    padding: 20px 2px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-formulario {
    padding: 0;
  }

  .text-description {
    height: 50px;
  }

  .footer .copyright {
    text-align: center;
    color: #a1a1a1;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer .copyright a {
    font-size: 14px;
    padding: 0 2px;
  }

  .formulario input {
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .content-section-9 {
    width: 100%;
  }

  .content-form {
    width: 100%;
  }

  form.formulario {
    width: 100%;
  }

  .section-formulario {
    width: 100%;
    padding: 100px 20px;
  }
}

/*FOOTER*/

/*SECTION 9*/